---
import GoBackToBlog from "@/components/GoBackToBlog.vue";
import LanguageFlag from "@/components/LanguageFlag.vue";
import TagsList from "@/components/TagsList.vue";
import { ui } from "@/i18n/ui";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { composeImageSizeClasses } from "@/pages/posts/[...slug].astro";
import { type CollectionPost } from "@/types";
import { getPosts } from "@/utils/posts";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const posts = await getPosts({ lang: "it", withUnlisted: true }); // This need to be with unlisted, otherwise they won't ever exist in SSG
  return posts.map((post: CollectionPost) => {
    return {
      params: { slug: post.slug },
      props: {
        post,
      },
    };
  });
}

type Props = { post: CollectionPost };

const { post }: Props = Astro.props;
const {
  title,
  image,
  imageAlt,
  imageSize,
  description,
  pubDate,
  duration,
  tags,
  lang,
  unlisted,
} = post.data;

const { Content } = await post.render();

function getDate(date: string) {
  return new Date(date).toISOString();
}

const articleImage = {
  src: image?.src ?? "",
  alt: imageAlt,
};
const currentLang = getLangFromUrl(Astro.url.pathname);
// Dynamically construct languages array based on available translations
// const availableLanguages = Object.keys(ui) as (keyof typeof ui)[];
// const languages = availableLanguages.map((lang) => [lang, ui[lang].language]);
const t = useTranslations(currentLang as keyof typeof ui);
// const tp = useTranslatedPath(currentLang as keyof typeof ui);
---

<!-- ACTUAL POST RENDERER -->
<BaseLayout
  title={title}
  description={description}
  image={articleImage}
  pageType="article"
  imageSize={imageSize}
>
  <a
    title="Back"
    href="javascript:history.back()"
    style="button"
    float-end
    m-s-10
    m-t-1
  >
    <i aria-label="Go back" i-ri-arrow-go-back-line></i>
  </a>
  <article class="prose">
    <div class="max-w-4xl mx-auto relative">
      <h1>
        {title}
      </h1>
      {
        unlisted && (
          <div h-initial class="flex flex-wrap flex-gap-1 important-m-0">
            <span class="important-m-0 important-p-0 underline text-red">
              {t("slug.unlisted")}
            </span>
          </div>
        )
      }
      <p h-initial class="flex flex-wrap flex-gap-1">
        {
          pubDate && (
            <time datetime={getDate(pubDate)}>{pubDate.split(",")}</time>
          )
        }
        {duration && <span>· {duration}</span>}
        {"· "}
        <LanguageFlag lang={lang} client:only="vue" verbose />
        {
          tags && tags.length > 0 && (
            <span class="flex flex-wrap flex-gap-1">
              <TagsList tags={tags} link={true} verbose />
            </span>
          )
        }
      </p>
    </div>
    {
      image && (
        <Image
          src={image}
          alt={imageAlt || ""}
          loading="lazy"
          class={composeImageSizeClasses(imageSize)}
          format="webp"
        />
      )
    }
    <Content />
    <ul>
      <GoBackToBlog client:only="vue" />
    </ul>
  </article>
</BaseLayout>
