---
import { ui, defaultLang, TranslationKeys, Languages } from "@/i18n/ui"
import { getLangFromUrl, translatePath, useTranslate } from "@/i18n/utils"
import siteConfig from "@/site-config"


const currentLang = getLangFromUrl(Astro.url)
const translate = useTranslate(currentLang)
const availableLanguages = Object.keys(ui) as Languages[]
const languages = availableLanguages.map(lang => [lang, ui[lang].language])
---
<header id="no-js-header" class="{`!fixed bg-transparent z-899 w-screen h-20 px-6 flex justify-center items-center relative print:hidden text-main`}">
    <div class="flex items-center justify-between h-full w-screen flew-grow-1">
        <!-- Logo -->
        <a :href={translatePath(siteConfig.basePath, currentLang)} aria-label={siteConfig.header.logo.alt} class="mr-6 b-rd-full">
            <img src={siteConfig.header.logo.src} alt={siteConfig.header.logo.alt}
                class="h-12 aspect-ratio-square b-rd-full">
        </a>

        <!-- Navigazione -->
        <nav class="nav flex flex-wrap items-center content-center gap-4 mrauto">
            {siteConfig.header.navLinks.map((link) => (
            <a class="nav-link" aria-label={translate(link.text as TranslationKeys)} href={translatePath(link.href, currentLang)}>
                        { translate(link.text as TranslationKeys) }
                    </a>
            ))}
        </nav>

        
        <!-- Social Links -->
        <div class="social-links flex flex-wrap items-center content-center gap-2 mr2 p2">
                {siteConfig.socialLinks.filter(sl => sl.header).map((link) => (
                    <a href={link.href} target="_blank" rel="noopener noreferrer" aria-label={link.text}>
                        <i class={`${link.header ?? link.icon} nav-link`}></span>
                        <span class="sr-only">{link.text}</span>
                    </a>
                ))}
        </div>

        <!-- Dropdown lingua -->
        <div class="flex flex-wrap items-cente gap-2">
            {languages.map(([lang]) => lang).filter(lang => ui[lang]?.disabled !== 'true').map((code) => (
                <a href={translatePath(Astro.url.pathname, code as Languages)}>{ui[code].flag}</a>
            ))}
        </div>
    </div>
</header>

<style>
   /* Scroll container */
  .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .nav a {
    text-decoration: none;
    color: #333;
  }
  .language-dropdown select {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .social-links ul {
    display: flex;
    gap:
